<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> Single result Details</h1>
    <ul>
        <li>
            <%=result.title %>
        </li>
        <li>
            <%=result.description %>
        </li>
        <li>&#8377;
            <%=result.price.toLocaleString("en-IN") %>
        </li>
        <li>
            <%=result.location %>
        </li>
        <li>
            <%=result.country %>
        </li>
    </ul>
</body>

</html>